body {
	background-color: rgba(185 185 185 / .50);
	font-family: system-ui;
}
.container {
	padding: 2rem 0;
	max-width: 1000px;
}
#dataOutput {
	padding-top: 4em;
	border-top: 1px solid black;
	> div {
		display: flex;
		width: 100%;
		align-items: center;
		gap: 1em;
		& label {
			width: 50%;
			text-align: right;
		}
		& div {
			width: 50%;
			padding: .3em;
			text-align: left;
		}
	}
}
div, .container, img, button {
	margin: auto;
	text-align: center;
}
#buttonDiv, #billingForm > div {
	display: flex;
	align-items: center;
	& button {
		display: flex;
		cursor: pointer;
	}
	& .fillButton {
		background-color: rgba(169 169 169 / .8);
		padding: 1rem 2rem;
		font-size: 1.5rem;
		border-radius: 10px;
	}
	& .directionButton {
		background-color: rgba(169 169 169 / .4);
		padding: 0 .4rem 4px;
		line-height: 20px;
		font-size: 140%;
		margin: 0 3px 5px;
		border: 1px solid;
		border-radius: 4px;
	}
}
#billingForm > div {
	justify-content: center;
}
#buttonDiv {
	flex-direction: column;
	padding: 3rem 0;
	gap: 4rem;
}
.fillButton:focus {
	outline: 2px solid;
	outline-color: lightseagreen !important;
}
.span-text {
	margin-right: 6px;
}
.span-label {
	font-style: italic;
	margin-right: 3px;
}
#billingForm > div {
	display: flex;
	gap: 5px;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}